img.img-center-top {
  display: block;
  max-width: 100%;
  margin-top: 10px;
}
img.img-center {
  display: block;
  max-width: 75%;
}
img.img-right {
  display: block;
  max-width: 50%;
  margin-left: 10px;
  margin-top: 10px;
  float: right;
}
img.img-left {
  display: block;
  max-width: 50%;
  margin-right: 10px;
  margin-top: 10px;
  float: left;
}
img.img-width-60 {
  max-width: 60%;
}
img.img-width-40 {
  max-width: 40%;
}
.logo-wrap {
  max-width: 100%;
}
.logo {
  background-size: contain;
  max-width: 100%;
}
.article-meta,
.article-meta a,
span {
  color: #999;
}
p {
  text-align: justify;
  font-weight: 400;
  color: #333;
}
p.item-title {
  text-align: left;
}
.credit p {
  color: #aaa;
}
h1.article-title {
  font-size: 3em;
}
.article-entry h2 {
  font-size: 1.9em;
  font-weight: 600;
}
.article-entry h3 {
  font-size: 1.6em;
}
.article-entry h4 {
  font-size: 1.15em;
}
.article-entry h5 {
  font-size: 1em;
}
.article-entry h6 {
  font-size: 1em;
  color: color-grey;
}
