img.img-center {
  display: block;
  max-width: 75%;
}
img.img-right {
  display: block;
  max-width: 50%;
  margin-left: 10px;
  float: right;
}
.logo-wrap {
  max-width: 100%;
}
.logo {
  background-size: contain;
  max-width: 100%;
}
